* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: Arial, sans-serif;
  background-color: #e9f9f5;
  color: #4B2E2A;
}

a {
  text-decoration: none;
  color: inherit;
}


header {
  background-color: #A1D6D1;
  padding: 10px 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 0 auto;
}

nav .logo img {
  width: 150px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

nav ul li a {
  color: #4B2E2A;
  font-weight: bold;
}

nav ul li a:hover {
  color: #B58F6D;
}


/* HERO */
.hero {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  background: linear-gradient(135deg, #e9f9f5 0%, #d0f0eb 100%);
}
 
.hero-content {
  display: flex;
  justify-content: center;
  align-items: center;
}
 
.hero-info {
  display: flex;
  align-items: center;
  gap: 25px;
  flex-wrap: wrap;
}
 
.foto-perfil {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #B58F6D;
}
 
.hero-content h1 {
  font-size: 3rem;
  color: #000000;
  margin-bottom: 5px;
}
 
.hero-content p {
  font-size: 1.5rem;
  color: #000000;
  margin-bottom: 15px;
}
 
.hero .btn {
  background-color: #B58F6D;
  color: #000000;
  padding: 10px 20px;
  border-radius: 5px;
  display: inline-block;
  transition: all 0.3s ease;
}
 
.hero .btn:hover {
  background-color: #4B2E2A;
  color: #fff;
}
 

.sobre-mí {
  background-color: #FFFFFF;
  padding: 30px;
  margin: 50px 0;
  text-align: center;
  border-radius: 10px;
}

.sobre-mí h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.sobre-mí p {
  font-size: 1.2rem;
  line-height: 1.6;
}

#proyectos {
  text-align: center;
  padding: 40px 20px;
}

#proyectos h2 {
  font-size: 2rem;
  margin-bottom: 25px;
  color: #000000;
}

.galeria {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  gap: 20px;
  padding: 20px;
  scroll-behavior: smooth;
  justify-content: flex-start;
}

.galeria::-webkit-scrollbar {
  height: 10px;
}

.galeria::-webkit-scrollbar-thumb {
  background-color: #B58F6D;
  border-radius: 5px;
}

.card {
  flex: 0 0 auto;
  background: #fff;
  border-radius: 20px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
  width: 260px;
  text-align: center;
  padding: 15px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

.card h3 a {
  color: #000000;
  text-decoration: none;
  font-size: 18px;
}

.card h3 a:hover {
  color: #B58F6D;
}

.card p {
  color: #444;
  font-size: 14px;
  line-height: 1.4;
  margin: 8px 0 0 0;
}

footer {
  background-color: #A1D6D1;
  color: #000000;
  text-align: center;
  padding: 20px;
  position: relative;
  bottom: 0;
  width: 100%;
}

footer p {
  margin: 5px 0;
}
